.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

img {
  width: 100%;
  object-fit: cover;
  height: 65%;
}

.margin-bottom {
  margin-bottom: -5rem;
}

.margin-top {
  margin-top: -3.7rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 85%;
  }

  h2 {
    margin-left: 1rem;
  }

  .margin-bottom {
    margin-bottom: -1.7rem;
  }

  .margin-top {
    margin-top: 0;
  }
}
